<!-- About -->
<section class="blurb">
    <h2>О нас:</h2>
    <p>В нашем блоге вас ожидают публикации, направленные на изучение или освещение конфликтов: горячих точек, воин прошлых столетий и биографии людей приближенных к этим событиям.</p>
    <ul class="actions">
        <li><a href="about" class="button">Узнать больше</a></li>
    </ul>
</section>

<!-- Footer -->
<section id="footer">
    <ul class="icons">
        {#<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>#}
        <li><a href="https://vk.com/battlehist" class="fa-facebook"><span class="label">VK</span></a></li>
        <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
    </ul>
    <p class="copyright">&copy;battlehist.ru Logic made by: GooseBumps.</p>
</section>

</section>

</div>

<!-- Scripts -->

<script type="text/javascript" src="{{ asset('assets/js/googleAnalytics.js') }}"></script>
<noscript><div><img src="https://mc.yandex.ru/watch/51817658" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<script src="{{ asset('assets/js/jquery.min.js') }} "></script>
<script src="{{ asset('assets/js/browser.min.js') }}"></script>
<script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
<script src="{{ asset('assets/js/util.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>

</body>
</html>